@use '../abstracts/mixins' as mx;
@use '../abstracts/variables' as v;

.header {
  font-weight: 700;

  &-social-links {
    @include mx.flexCenter;
    justify-content: space-between;
    font-weight: 500;
    color: v.$lightGray;
    padding-block: 1rem;
    
    .social-link-item {
      font-size: 2.7rem;
      color: v.$white;
      margin-block: 1rem;
      margin-inline: 2rem;
      &:last-child {
        margin-inline-end: 0;
      }
    }
  }

  // NAVBAR
  .navbar {
    @include mx.flexBetween;
    padding: 2.5rem;
    background-color: v.$deepBlue;
    
    &-logo {
      text-transform: uppercase;
      color: v.$white;
    }

    &-links {
      display: none;
    }
    
    &-login {
      color: v.$white;
    }
  }

  &-dropdown {
    @include mx.flexColumn;
    background-color: v.$medGray;
    padding: 1.5rem;
    padding-inline-start: 2.5rem;

    &-container {
      align-self: flex-start;
      color: v.$white;
      font-weight: 400;
      height: 0;
      overflow: hidden;
      transition: v.$mobileMenu;

      .header-dropdown-links > li {
        margin-block-end: 1.5rem;

        a {
          @extend %flex;

          i {
            padding-inline-start: .5rem;
          }
        }
      }
    }
  }

  // HERO
  .hero {
    @include mx.flexColumn;
    justify-content: center;
    text-align: center;
  
    &-info {
      margin-block: 21rem 2rem;
  
      .title {
        font-size: 6.5rem;
        color: mx.titleTextColor(v.$purpleOverlay);
        margin-block-end: 2rem;
      }
    }
  }
}