@use '../abstracts/mixins' as mx;

// Tablets
@include mx.mq(414px) {
  // Header
  .header {
    &-social-links {
      justify-content: flex-end;
    }
  }
}

@include mx.mq(1025px) {
  .container {
    width: 80%;
  }
  
  .header {
    .navbar {
      height: 11rem;
      padding-inline: 5.5rem;

      &-links {
        display: flex;
        width: min(55%, 70rem);
        justify-content: space-around;
      }
    }

    &-dropdown {
      display: none;
    }
  }

  .next > i {
    bottom: 40vmin;
    right: 10%;
  }
}