@use '../abstracts/mixins' as mx;

// Tablets
@include mx.mq(414px) {
  // Header
  .header {
    &-social-links {
      justify-content: flex-end;
    }
  }
}

@include mx.mq(1000px) {
  .next > i {
    bottom: 40vmin;
    right: 8%;
  }
}