@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as mx;

.open-menu-btn {
  @include mx.flexCenter;
  align-self: flex-end;
  gap: 1rem;
  background-color: v.$darkGrayBlue;
  text-transform: uppercase;
  color: v.$white;
  padding: .7rem 1.3rem;
  border-radius: .5rem;
  cursor: pointer;
}

// Hero (read more)
.main-rect-btn {
  position: relative;
  @include mx.flexCenter;
  width: 22rem;
  background-color: v.$white;
  font-size: 1.45rem;
  font-style: italic;
  font-weight: 500;
  letter-spacing: 1.1px;
  padding-block: 2.1rem;
  margin-block-start: 7rem;
  margin-inline: auto;
  border: 2px solid v.$pinkAccent;
  box-shadow: 0 0 1rem v.$pinkAccent;

  i:last-child {
    position: absolute;
    opacity: .4;
    right: 4.2rem;
  }

  &::after {
    content: '';
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    width: 100%;
    height: 100%;
    background-color: v.$pinkAccent;
    box-shadow: v.$pAccBoxShadow;
    z-index: -1;
  }
}