@use '../abstracts/variables' as v;

.container {
  width: 90%;
  height: 100%;
  margin-inline: auto;
}

.accent {
  color: v.$pinkAccent;
}

.uppercase {
  text-transform: uppercase;
}

.active-btn {
  color: v.$pinkAccent !important;
  border: 2px solid v.$pinkAccent !important;
}