@use './variables' as v;

%flex {
  display: flex;
  align-items: center;
}

@mixin flexCenter {
  @extend %flex;
  justify-content: center;
}

@mixin flexBetween {
  @extend %flex;
  justify-content: space-between;
}

@mixin flexEnd {
  @extend %flex;
  justify-content: flex-end;
}

@mixin flexColumn {
  @extend %flex;
  flex-direction: column;
}

// font colors
@function titleTextColor($color) {
  @if(lightness($color) < 50) {
    @return #000;
  } @else {
    @return v.$white;
  }
}

// media queries
@mixin mq($size) {
  @media only screen and (min-width: $size) {
    @content;
  }
}